/* Reset básico */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0 1rem;
    color: #ffffff;
   background-image: url('https://i.pinimg.com/736x/83/bc/0e/83bc0efb04998ca9dba60d506dafd488.jpg');
  
  }
  
  header {
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    padding: 1rem 0;
  }

  header div img{
   width: 5rem;

  }
  
  .menu {
    display: none;
  }
  .menu.active {
    display: block;
  }
  .menu-toggle {
    font-size: 1.5rem;
    background: none;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .menu {
      display: block;
    }
    .menu-toggle {
      display: none;
    }

    @media (min-width: 768px) {
        nav ul {
          display: flex;
          gap: 1rem;
        }
        .menu-toggle {
          display: none;
        }
      }
      
      @media (max-width: 767px) {
        nav ul {
          flex-direction: column;
          gap: 0.5rem;
        }
      }
      
  }
  